footer {
    height: auto;
    width: 100%;
    margin-top: 30px;
    background: #23232e;
}

.content-footer {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1640px;
    justify-content: space-around;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.footer-content {
    margin: auto;
    list-style: none;
}

.footer-content-logo {
    display: flex;
    flex-direction: space-between;
    width: 90%;
    height: 15vh;
    margin: auto;
    gap: 4px;
    margin-bottom: 5vh;
}
.footer-logos {
    margin: auto;
    max-height: 100%;
}

.footer-content-list {
    display: flex;
    flex-direction: space-between;
    gap: 4px;
    width: 100%;
    margin: auto;
    margin-bottom: 5vh;
}
.footer-content-list > ul {
width: 100%;
text-align: center;
}
.footer-content-list > ul > li  {
    color: #b1afaf;
    margin: 1vh;
    }
.footer-content-list > ul > li > h2 {
    color: #ffffff;
    margin-bottom: 15px;
    }

.footer-content-end {
    display: flex;
}
.footer-content-end > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}
.footer-content-end > div > h3 {
    margin: 5%;
    font-size: 2vh;
}
.footer-img-end {
    max-width: 300px;
    height: 90%;
    margin: auto;
}
.footer-img-hide {
    display: none;
}
#footer-content-mobile {
    display: none;
}

@media (max-width: 999px) {
    .content-footer {
        flex-flow: column wrap;
        justify-content: space-between;
    }
    .footer-content-list {
        display: flex;
        flex-direction:column;
        gap: 4px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-content {
        max-width: 80%;
    }
    .footer-content-end {
        display: flex;
        flex-direction: column;
    }
    #footer-content-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
        align-items: center;
        width: 100%;
    }
    
    .footer-img-show {
        display: none;
    }
}