::-webkit-scrollbar {
  width: 10px;
  height: 3vh;
  margin: 30px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ;
}  
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* generic */
  body {
    overflow-x: hidden;
    background-color: #272727;
}
a {    
  text-decoration: solid;
  cursor: pointer;
}
h1 {
    color: rgb(229, 255, 0);
    margin-top: 50px;                                     
    margin-bottom: 25px;
    border-bottom: solid rgb(255, 238, 7);
    border-radius: 3px;
    padding-left: 20px;
    background: linear-gradient(90deg,rgba(255, 238, 7, 0)50%,rgba(255, 238, 7, 0.6)) ;
}
.container-main{
    width: 95%;
    max-width: 1640px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
/* generic */
/* containers */
.media-element {
  height: 500px;
  width: 500px;
  padding: 6px;
  bottom: 240px;
  background: rgb(27, 27, 27, .5);
  color: white;
  text-align: center;
  transition: .5s;
}
.div-first-img {
  margin-top: 25px;
  width: 100%;
  margin: auto;
  background-size: cover;
}
.grid-content {
  margin: auto 0;
  margin-top: 3vh;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 29% 69%;
  grid-template-rows: 99%;
  grid-template-areas:
  "big s1"
  "big s1"
  ;
  gap: 5px;
  overflow: hidden;
  justify-content: space-between;
}
.grid-content-big > div:nth-child(1){
  grid-area: big;
}
.grid-content > div:nth-child(2){
  grid-area: s1;
}
.square-content-big {
  height: 100%;
  display: flex;
  justify-content: center;

}
.square-content {
  width: 100%;
  display: grid;
  grid: 1fr 1fr / auto-flow;
  gap: 15px;
  cursor: pointer;
}
.square-content-big > img {
  margin: auto;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.square-content > img {
  border-radius: 10px;
  height: 100%;
  width: 100%; 
}
.img-square {
  width: 100%; 
}
.square-content > div {
  margin: auto;
  width: 100%; 
  border-radius: 10px;

}
.d-none {
  display: none;
}
.btn-all {
  width:fit-content;
  background: orange;
  transition: all ease .5s;
  color: #101010;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  top: 45%;
  left: 40%;
}
.figure-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: 0.4s ease-in;
  z-index: 10;
  float: center;
  content: "";
  display: none;
  clear: both;
  animation: buttonFade 0.4s ease-in;
  overflow: hidden;
}
/* containers */
/* scroller */
.div-container-main {
  margin-top: 25px;
  width: 95%;
  max-width: 1640px;
  margin: auto;
  background-size: cover;
  margin-bottom: 30px;
}
.media-scroller {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    padding: 0;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
.img-hover{
    position: absolute;
}
  .media-group {
    display: grid;
    grid-auto-flow: column;
  }
  .media-element-scroll {
    margin: auto;
    position: relative;
    display: grid;
    grid-template-rows: min-content;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    min-height: 25%;
  }
  .media-element-scroll > img {
    inline-size: 100%;
    object-fit: cover;
  }
  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(25px, 1rem);
  }
  .snaps-inline > * {
    scroll-snap-align: start;
  }
:root {
  --random-color1: 28;
  --random-color2: 255;
  --random-color3: 7;
  
}
  .media-element-scroll:hover .container-btn {
    height: 100%;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.726);
    transition: .5s;
    z-index: 10;
    
  }
  .container-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bkg-1 {
    background: linear-gradient(rgba(var(--random-color1), var(--random-color2), var(--random-color3), 0.11)50%,rgba(var(--random-color1), var(--random-color2), var(--random-color3), 0.8)) ;  
  }
  .bkg-2 {
    background: linear-gradient(rgba(var(--random-color2), var(--random-color3), var(--random-color1), 0.11)50%,rgba(var(--random-color2), var(--random-color3), var(--random-color1), 0.8)) ;  
  }
  .bkg-3 {
    background: linear-gradient(rgba(var(--random-color3), var(--random-color1), var(--random-color2), 0.11)50%,rgba(var(--random-color2), var(--random-color1), var(--random-color2), 0.8)) ;  
  }
  .media-element-scroll:hover .btn-all{
    opacity: 1;
    visibility: visible;
  }
  .media-element-scroll:hover #img-hover{
    transform: scale(1.05);
  }
/* scroller */
/* body */
.grid-content-rest {
  margin: auto 0;
  margin-top: 3vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow: hidden;
  justify-content: space-around;
}
.grid-content-rest  > .card {
  max-width: 15%;
}
/* body */
/* media */
@media (max-width: 999px) {
  main {
    margin-top: 8vh;
  }
  .grid-content {
    margin: auto 0;
    margin-top: 3vh;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 30px auto;
    width: 90%;
    font-size: 150%;
  }
  .square-content-big > .media-element-scroll {
    width: 90%;
  }
  .grid-content-rest  > .card {
    max-width: 45%;
  }
  .square-content-big {
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
  }
  .square-content-big > .media-element-scroll > img {
    margin: 0;
    width: 100%;
    height: auto;
  }
  .square-content > div {
    width: 45%;
  }
  .square-content {
    margin: auto;
    height: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 15px;
  }
  .card > img {
    height: auto;
    margin: 0;
  }
  .display-show {
    display: flex;
}
.select-search {
  font-size: 50%;
}
}
@keyframes buttonFade {
from {
  display: absolute;
  opacity: 0;
  transform: translateY(-100px);
}
to {      
  display: relative;
  opacity: 1;
  transform: translateY(0);
}
}
