main {
    width: 100vw;
    height: auto;
}

.container-main{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;    
    margin: 20px auto;
}

.grid-content {
    margin: auto 0;
    height: 40vh;
    width: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "big s1"
    "big s1"
    ;

}

.grid-content-big > div:nth-child(1){
    grid-area: big;
}
.grid-content > div:nth-child(2){
    grid-area: s1;
}

.square-content-big {
    height: 40vh;
    width: 100%;
    align-content: right;
}

.square-content {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.square-content-big > img {
    height: 100%;
}

.square-content > img {
    height: 45%;
    width: auto;
    margin-right: 15px;
}

hr {
    color: blue;
}


@media (max-width: 999px) {

    .grid-content {
        margin: auto 0;
        width: auto;
        max-height: 300%;
        display: flex;
        flex-direction: column;
    }

    .square-content-big {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .square-content-big > img {
        margin: 0;
        width: 100%;
        height: auto;
    }
    
    .square-content {
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 15px;
    }

    .square-content > img {
        height: auto;
        width: 40%;
        margin: 0;
    }
}


/* .teste {
    margin-top: 450px;
    width: 30vw;
    height: 30vh;
    align-content: center;

}

.teste > img{
    width: 100%;
}

.teste > div {
    display: relative;
    cursor: pointer;
}

.teste1 {
    opacity: 0;
    transition: 0.3s ease-in;
}

.teste1:hover {
    opacity: 1;
} */