main {
    width: 100vw;
}

.container-main{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.div-first-img {
    margin-top: 25px;
    width: 100%;
    height: 100%;
    margin: auto;
    background: gray;
    /* background-image: url("https://art.pixilart.com/00fbc0437d846a8.png"); */
    background-size: cover;
}




.grid-content {
    margin: auto 0;
    margin-top: 3vh;
    width: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "big s1"
    "big s1"
    ;

}

.grid-content-big > div:nth-child(1){
    grid-area: big;
}
.grid-content > div:nth-child(2){
    grid-area: s1;
}

.square-content-big {
    height: 50vh;
    width: 100%;
    align-content: right;
}

.square-content {
    height: 50vh;
    width: 100%;
    display: grid;
    grid: 1fr 1fr / auto-flow;
    justify-content: space-around;
    gap: 15px;
}

.square-content-big > img {
    height: 100%;
}

.square-content > img {
    height: 100%;
    width: 100%;
}

@media (max-width: 999px) {

    .grid-content {
        margin: auto 0;
        margin-top: 3vh;
        width: auto;
        max-height: 300%;
        display: flex;
        flex-direction: column;
    }

    .square-content-big {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .square-content-big > img {
        margin: 0;
        width: 100%;
        height: auto;
    }
    
    .square-content {
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 15px;
    }

    .square-content > img {
        height: auto;
        width: 40%;
        margin: 0;
    }
}