/*SLIDER SLIDER*/
.content-slider{
    height: 520px;
    margin-top: 30px;
    width: 90%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: 6px 6px 3px rgba(0,0,0,0.3);
}

.navigator-slide{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.lbl-slide{
     width: 70px;
     height: 17px;
     border: 2.5px solid rgb(252, 249, 67);
     margin: 6px;
     border-radius: 9px;
     cursor: pointer;
     transition: .1s;
     z-index: 5;
}

.lbl-slide:hover{
    background: white;
}

.input-slider{
    display: none;
}

.slider-img{
    display: flex;
    width: 400%;
    margin: auto;
    height: 100%;
}

.slide-img{
    width: 25%;
    transition: .5s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(/img/hoyo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-img > img {
    opacity: 0;
    margin: auto;
}

#slide-1:checked ~ .s1{
    margin-left: 0%;
}

#slide-2:checked ~ .s1{
    margin-left: -25%;
}

#slide-3:checked ~ .s1{
    margin-left: -50%;
}

#slide-4:checked ~ .s1{
    margin-left: -75%;
}
/*SLIDER SLIDER*/